<link rel="stylesheet" type="text/css" href="shopping-card.component.css" />

<div class="container">
  <h1>Choose Your Campaign Type</h1>
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sponsored Products</h5>
          <img
            class="card-image"
            src="https://cdn.vectorstock.com/i/preview-1x/35/52/placeholder-rgb-color-icon-vector-32173552.jpg"
            alt="sponsored-image"
          />
          <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
            blanditiis officiis voluptates porro esse, fuga magni asperiores eos
            velit cupiditate nemo, impedit quia ipsum voluptas minima soluta
            assumenda vel recusandae.
          </p>
          <button
            class="btn btn-primary shopping"
            (click)="redirectToCampaignPage()"
          >
            Continue
          </button>
          <a
            class="campaign-link"
            href="https://advertising.amazon.com/solutions/products/sponsored-products"
            >Explored Sponsored Products</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sponsored Brands</h5>
          <img
            class="card-image"
            src="https://cdn.vectorstock.com/i/preview-1x/35/52/placeholder-rgb-color-icon-vector-32173552.jpg"
            alt="sponsored-image"
          />
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas
            recusandae quaerat atque suscipit sunt vel. Laborum ipsum et libero
            natus quidem est. At ea recusandae veritatis praesentium, provident
            ratione tenetur!
          </p>
          <button class="btn btn-primary shopping">Continue</button>
          <a
            class="campaign-link"
            href="https://advertising.amazon.com/solutions/products/sponsored-products"
            >Explored Sponsored Products</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sponsored Display</h5>
          <img
            class="card-image"
            src="https://cdn.vectorstock.com/i/preview-1x/35/52/placeholder-rgb-color-icon-vector-32173552.jpg"
            alt="sponsored-image"
          />
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex vitae
            cum totam earum nam error necessitatibus magnam, sed laborum optio
            quae aut deserunt! Fugit quibusdam id fugiat earum culpa itaque.
          </p>
          <button class="btn btn-primary shopping">Continue</button>

          <a
            class="campaign-link"
            href="https://advertising.amazon.com/solutions/products/sponsored-products"
            >Explored Sponsored Products</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
