<link rel="stylesheet" type="text/css" href="shopping-card.component.css" />

<div class="container text-center">
  <h1 class="display-4">Choose Your Campaign Type</h1>
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sponsored Products</h5>
          <hr class="my-4" /> 
          <img
            class="card-image img-fluid"
            src="https://cdn.vectorstock.com/i/preview-1x/35/52/placeholder-rgb-color-icon-vector-32173552.jpg"
            alt="sponsored-image"
          />
          <hr class="my-8" /> 
          <p class="card-text">
            Promote products to shoppers actively searching with related
            keywords or viewing similar products on NgShopsy.
          </p>
          <button
            class="btn btn-primary btn-lg shopping"
            (click)="redirectToCampaignPage()"
          >
            Continue
          </button>
          <a
            class="d-block text-center mt-3"
            href="https://advertising.amazon.com/solutions/products/sponsored-products"
          >
            Explore Sponsored Products
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sponsored Brands</h5>
          <hr class="my-8" /> 
          <img
            class="card-image img-fluid"
            src="https://cdn.vectorstock.com/i/preview-1x/35/52/placeholder-rgb-color-icon-vector-32173552.jpg"
            alt="sponsored-image"
          />
          <hr class="my-4" /> 
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas
            recusandae quaerat atque suscipit sunt vel.
          </p>
          <button class="btn btn-primary btn-lg shopping">Continue</button>
          <a
            class="d-block text-center mt-3"
            href="https://advertising.amazon.com/solutions/products/sponsored-products"
          >
            Explore Sponsored Products
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sponsored Display</h5>
          <hr class="my-8" /> 
          <img
            class="card-image img-fluid"
            src="https://cdn.vectorstock.com/i/preview-1x/35/52/placeholder-rgb-color-icon-vector-32173552.jpg"
            alt="sponsored-image"
          />
          <hr class="my-4" /> 
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex vitae
            cum totam earum nam error necessitatibus magnam,
          </p>
          <button class="btn btn-primary btn-lg shopping">Continue</button>
          <a
            class="d-block text-center mt-3"
            href="https://advertising.amazon.com/solutions/products/sponsored-products"
          >
            Explore Sponsored Products
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
