<div class="container">
  <h2 class="mt-4">Add Keywords</h2>
  <div class="form-group">
    <label class="fw-bold mt-3">Add the keywords as a separate line for each</label>
    <textarea class="form-control border-2" id="keyword" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}" rows="5"></textarea>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary btn-lg" (click)="addKeyword()">Add Keyword</button>
    </div>
    <div class="col">
      <button class="btn btn-secondary btn-lg float-end" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
