

<div class="container">
    <h2>Keywords List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Keyword</th>
          <th>Match Type</th>
          <th>Bid</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let keyword of keywords">
          <td>{{ keyword.keyword }}</td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="keyword.matchType">
          </td>
          <td>
            <input type="number" class="form-control" [(ngModel)]="keyword.bid">
          </td>
          <td>
            <button class="btn btn-danger" (click)="removeKeyword(keyword)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  