<div class="container-fluid mt-5">
    <div class="row">
      <div class="col"></div>
      
      <div class="col-12">
        <div class="container ad-set-info-container">
          <h5 class="section-title">Settings</h5>
          <div class="custom-border">
            <h6 class="section-title">Ad Group Name</h6>
            <input type="text" class="form-control custom-input" [(ngModel)]="adGroupName" [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="card shadow">
            <div class="card-body">
             
              <div class="product-container">
                <div class="product-column">
                  <h5 class="section-title"> Products</h5>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let product of availableProducts">
                      <div class="d-flex">
                        <img class="product-thumbnail" [src]="product['product-image-url']" alt="{{ product['product-name'] }}" />
                        <div>
                          <h6 class="product-name">{{ product['product-name'] }}</h6>
                          <div class="product-details">
                            <p class="product-price">${{ product['product-price'] }}</p>
                            <span class="product-divider">|</span>
                            <p class="product-stock">{{ product['product-stock'] }}</p>
                          </div>
                          <button class="btn btn-sm btn-primary" (click)="addProduct(product)">Add</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="product-column">
                  <h5 class="section-title">Selected Products</h5>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let product of selectedProducts">
                      <div class="d-flex">
                        <img class="product-thumbnail" [src]="product['product-image-url']" alt="{{ product['product-name'] }}" />
                        <div>
                          <h6 class="product-name">{{ product['product-name'] }}</h6>
                          <div class="product-details">
                            <p class="product-price">${{ product['product-price'] }}</p>
                            <span class="product-divider">|</span>
                            <p class="product-stock">{{ product['product-stock'] }}</p>
                          </div>
                          <button class="btn btn-sm btn-danger" (click)="removeProduct(product)">Remove</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="button-container">
                <button class="btn btn-info" (click)="continueNextStep()">Continue Next Step</button>
                <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  